<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
</head>
<body>
    @* <p>Hello Nikhilesh</p>*@

    @RenderBody()

    @*<p>Hello Nikhilesh</p>*@
</body>
    
</html>
