
@{
    ViewData["Title"] = "Index";
}
<script>
    $(document).ready(function () {
        $("#btn1").click(function () {
            $("#text").slideUp(2000);
        });
        $("#btn2").click(function () {
            $("#text").slideDown(2000);
        });
    });
</script>

<h1>Index</h1>

<input id="btn1" type="button" value="Hide" />
<input id="btn2" type="button" value="Show" />
<p id="text" class="ptag" style="width:300px">
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil
    My Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is NikhilMy Name Is Nikhil

</p>