
@{
    ViewData["Title"] = "Nivos";
}
@*<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">*@
<link rel="stylesheet" href="~/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/nivo-slider/themes/dark/dark.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/nivo-slider/demo/style.css" type="text/css" media="screen" />

<h1>Nivos</h1>

<h1 style="margin-top:50px;" align="center">jQuery Nivo Slider Demo</h1>
<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="~/nivo-slider/demo/images/toystory.jpg" data-thumb="~/nivo-slider/demo/images/toystory.jpg" alt="" />
            <a href="http://dev7studios.com">
                <img src="~/nivo-slider/demo/images/up.jpg" data-thumb="~/nivo-slider/demo/images/up.jpg" alt="" title="This is an example of a caption" />
            </a>
            <img src="~/nivo-slider/demo/images/walle.jpg" data-thumb="~/nivo-slider/demo/images/walle.jpg" alt="" data-transition="slideInLeft" />
            <img src="~/nivo-slider/demo/images/nemo.jpg" data-thumb="~/nivo-slider/demo/images/nemo.jpg" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a<em>HTML</em> caption with
            <a href="#">a link</a>.
        </div>
    </div>
</div>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
<script type="text/javascript" src="~/nivo-slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#slider').nivoSlider();
    });
</script>

