@using DIDEMO.Services;
@inject IVisitorCount cnt
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>Controller Level : @ViewBag.count</h3>
<h3>View Level : @cnt.GetCount()</h3>
<h3>Action Level : @ViewBag.cnt</h3>

